* {
	font-family: Raleway, Helvetica, sans-serif;
}

button {
	background-color: #811331;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	margin-left: 400px;
}

.labelclass {
	font-size: 40px;
}
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input::before {
	content: 'Select Image';
	display: inline-block;
	background: #000080;
	/*border: 1px solid #999;
  border-radius: 3px;*/
	padding: 10px 15px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
	border-radius: 5px;
}
.custom-file-input:hover::before {
	border-color: black;
}
.custom-file-input:active::before {
	background: #000080;
}
table {
	margin-left: auto;
	margin-right: auto;
}
td {
	background-color: #2e3141;
}
h2 {
	font-size: 25px;
	color: #fff;
}
h1 {
	color: #fff;
}

h4 {
	color: #fff;
}

.header {
	background-color: white;
}
.logo {
	position: block;
	margin-left: auto;
	margin-right: auto;
}

#wrapper .inner button {
	margin: none;
}

form {
	margin: 0;
}
